.bet-btn-green {
    width: 15%;
    height: 35px;
    font-family: system-ui;
    font-weight: 700;
    border-color: green;
    background-color: #98cd98;
}

.bet-btn-red {
    width: 15%;
    height: 35px;
    font-family: system-ui;
    font-weight: 700;
    border-color: rgb(228, 8, 8);
    background-color: #d46a6a;
}
