.pattern-btn-green {
    width: 20%;
    position: absolute;
    right: 28%;
    top: 45%;
}

.pattern-btn-red {
    width: 20%;
    position: absolute;
    right: 7%;
    top: 45%;
}

.input-money {
    width: 41%;
    position: absolute;
    top: 39%;
    right: 7%;
}

